@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

    &__name {
        margin-bottom: 1rem;
    }

    &__list {
        display: flex;
        margin: 5rem auto 0 auto;
        width: 75%;
        flex-direction: column;
        gap: 2rem;
        flex-wrap: wrap;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }
}

