@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.education {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
    border: 1px solid $primary-color;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    &__position {
        display: flex;
        flex-direction: column;
    }

    &__role {
        color: $primary-color;
    }

    &__timeframe {
        margin-bottom: 1rem;
    }

    &__achievements {
        list-style-type: disc;
        padding-left: 4rem;
        width: 100%;

        @include tablet {
            width: 80%;
        }
    }
}