@font-face {
    font-family: "Pacifico";
    font-weight: 400;
    src: url(/src/assets/fonts/Pacifico-Regular.ttf) format("truetype")
}

@font-face {
    font-family: "Raleway";
    font-weight: 700;
    src: url(/src/assets/fonts/Raleway-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url(/src/assets/fonts/Raleway-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url(/src/assets/fonts/Raleway-Italic.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: 300;
    font-style: italic;
    src: url(/src/assets/fonts/Raleway-LightItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: 500;
    src: url(/src/assets/fonts/Raleway-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url(/src/assets/fonts/Raleway-Regular.ttf) formar("truetype");
}