@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.tech-modal {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 2rem;
    padding: 0.5rem;
    background-color: $about-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &:hover {
      background-color: darken($about-color, 2%);
      scale: 1.02;
    }

    @include tablet {
      padding: 0.5rem 1.5rem;
      width: 48%;
      justify-content: space-between;
      gap: 0.5rem;
    }
  }

  &__logo {
    height: 3rem;
    padding: 0.25rem;
  }

  &__text {
    text-align: left;
    width: 80%;
    font-size: 1rem;
    @include tablet {
      @include body-small;
    }
  }

  &__name {
    text-transform: uppercase;
    color: darken($secondary-color, 10%);
  }
}
