@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.contact-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 90vh;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    top: 4rem;

    @include tablet {
        padding: 1rem 1.5rem;
    }

    @include desktop {
        @include desktop-margin;
    }

    &__address {
        font-family: "Bebas";
        letter-spacing: 0.27rem;
        color: $primary-color;
    }

    &__form, 
    &__success {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
        min-height: 70vh;
        margin-top: 3rem;
    }

    &__label {
        text-transform: uppercase;
    }

    &__input {
        @include body-small;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 0.5rem 1rem;

        &:focus {
            outline: 3px solid darken($primary-color, 10%);
        }
    }

    &__textarea {
        @include body-small;
        padding: 0.5rem 1rem;
        height: 15rem;
        border: 1px solid $primary-color;
        border-radius: 5px;
        resize: none;

        &:focus {
            outline: 3px solid darken($primary-color, 10%);
        }
    }

    &__button {
        width: 20rem;
        margin-bottom: 2rem;
    }
}