@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.tech-card {
    display: flex;
    position: relative;

    &__image {
        height: 2rem;

        @include tablet {
            height: 3rem;
        }
    }

    &__overlay {
        position: absolute;
        z-index: 10;
        inset: 0;
        justify-content: center;
        align-items: center;
    }

    &__rectangle {
        position: absolute;
        background-color: black;
        pointer-events: none;
        opacity: 60%;
        height: 100%;
        width: 100%;
    }
}