@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.tech-card {
    display: flex;
    position: relative;
    margin-top: 3rem;

    &__image {
        height: 4rem;

        @include tablet {
            height: 5;
        }
    }
}