@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.nutshell {
  margin-top: 5rem;

  &__description {
    @include body-typo;
      color: darken($secondary-color, 10%);
      margin-top: 1rem;
  }
}
.carousel {
    @include flex-center;
    margin-top: 0rem;
    margin-bottom: 5rem;
    overflow: hidden;
    width: 100%;
    height: 25rem;
    position: relative;

    @include tablet {
      margin-top: 3rem;
    }
  }
  
  .carousel__track {
    @include flex-center;
    position: relative;
    width: 100%;
  }
  
  .carousel__image {
    position: absolute;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    cursor: pointer;
    border-radius: $border-radius;
    border: $primary-border;

    @include tablet {
      width: 10rem;
      height: 10rem;
    }
  }