@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global";


.resume {
    min-height: 90vh;
    padding: 7rem 1rem 0 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 7rem 1.5rem 0 1.5rem;
    }

    @include desktop {
        @include desktop-margin;
    }

    &__title-wrapper {
        display: flex;
        justify-content: flex-start;
        position: relative;
        gap: 1rem;
    }

    &__download-icon {
        position: relative;
        top: 0.5rem;

        @include tablet {
            width: 2rem;
            top: 0.25rem;
        }

        &:hover {
            cursor: pointer;
        }
}

    &__title {
        margin-bottom: 2rem;

        @include tablet {
            margin-bottom: 3rem;
        }
    }

    &__nav {
        display: flex;
        align-items: flex-end;
        margin-top: 2rem;
    }

    &__nav-item {
        @include body-typo;
        text-transform: uppercase;
        padding: 0.5rem 2rem;

        &:hover {
            color: darken($primary-color, 10%);
            cursor: pointer;
        }

        &--active {
            text-decoration: underline;
            color: darken($primary-color, 10%);
            font-weight: 700;
        }
    }
}