@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global";


.homepage {
    min-height: 60dvh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include tablet {
        padding: 1rem 1.5rem;
    }

    @include desktop {
        @include desktop-margin;
    }
    
}