@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.about {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;

  &__description {
    display: flex;
    flex-direction: column;

    @include desktop {
        flex-direction: row;
        gap: 1rem;
    }
  }

  &__list {
    margin-top: 2rem;
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  &__item {
    padding: 1rem;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    border: 0.5px solid $primary-color;
    border-radius: 0.5rem;

    @include desktop {
        padding: 1.5rem 1rem;
    }

    &--bold {
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
    }

    &--reg {
      @include body-small;
      color: darken($text-color, 10%);
    }
  }

  &__details {
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0.5px solid $primary-color;
    border-radius: 0.5rem;

    @include desktop {
        margin: 2rem 0 0 0;
    }
  }

  &__tagline {
    color: darken($text-color, 10%);
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
  }

  &__coding {
    @include body-small;
  }
}
