@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.about {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;

    &__intro {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__text {
        @include body-typo;
        font-style: italic;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;

        @include tablet {
            flex-direction: row;
        }
    }

    &__item {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 2rem 0.5rem 2rem;
        width: 100%;
        background-color: darken($background-color, 2%);
        border-radius: 0.5rem;
        border: 1px solid darken($background-color, 2%);

        @include tablet {
            justify-content: center;

            &--selected {
                border: 1px solid $text-color;
            }
        }
    }

    &__icon {
        border: 1px solid $primary-color;
        padding: 0.25rem;
        border-radius: 15%;

        &--selected {
            border: 1px solid darken($background-color, 2%)
        }
    }

    &__element {
        color: $primary-color;
        @include body-typo;
        font-family: "Bebas";

        &--selected {
            color: $text-color;
        }
    }
}