@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.about {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 7rem;
  gap: 1rem;
  width: 100%;

  &__description {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__list {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    gap: 1rem;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }

  &__item {
    padding: 1rem;
    @include flex-center;
    flex-direction: column;
    text-align: center;
    border-radius: 0.5rem;
    background-color: $about-color;

    &:hover {
      background-color: darken($about-color, 1%);
    }

    @include desktop {
      padding: 1.5rem 1rem;
    }

    &--bold {
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
      text-transform: uppercase;
    }

    &--reg {
      @include body-small;
      color: darken($secondary-color, 10%);
      text-transform: uppercase;
    }
  }

  &__details {
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $about-color;
    border-radius: 0.5rem;

    &:hover {
      background-color: darken($about-color, 1%);
    }

    @include desktop {
      margin: 5rem 0 0 0;
    }
  }

  &__tagline {
    color: darken($secondary-color, 10%);
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
  }

  &__coding {
    @include body-small;
  }

  &__approach-wrapper {
    @include tablet {
      background-color: $about-color;
      padding: 0.5rem;
      border-radius: 0.5rem;
      position: relative;
    }
    @include desktop {
      padding: 1rem 5rem;
    }
  }

  &__approach {
    display: none;

    @include tablet {
      @include flex-center;
      width: 100%;
      cursor: pointer;
    }
  }

  &__github {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $about-color;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    border-radius: 0.5rem;
    @include flex-center;
    align-content: center;
    gap: 2rem;
    // opacity: 0;
    // // transition: opacity s ease-in-out;
  }

  &__github-text {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
    color: $text-color;
    text-transform: uppercase;
  }

  &__github-icon {
    height: 2rem;
  }
}

.about__approach-wrapper:hover .about__github {
  opacity: 1;
}
